
<button type="button" onclick="one_syllable_wordsChart()">one syllable words</button>

 <body>


 	<button type="button" onclick="xChart()">unique words</button>
 	<button type="button" onclick="average_grade_levelChart()">average grade level</button>



<button type="button" onclick="select('all')">Select all</button>
<button type="button" onclick="select('female')">Women</button>
<button type="button" onclick="select('male')">Men</button>
<button type="button" onclick="select('south')">Dirty South</button>
<button type="button" onclick="select('east')">East Coast</button>
<button type="button" onclick="select('midwest')">Midwest</button>
<button type="button" onclick="select('west')">West Coast</button>
<button type="button" onclick="select('black')">Black</button>
<button type="button" onclick="select('white')">White</button>
<svg>

      <defs id="mdef">


        <pattern id="drake" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/drake2.jpg"></image>
        </pattern>

        <pattern id="nicki_minaj" x="0" y="0" height="40" width="40">
          <image x="-23" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/nicki_minaj2.jpg"></image>
        </pattern>
                <pattern id="kanye" x="0" y="0" height="40" width="40">
          <image x="-25" y="-30" width="170" height="170" xlink:href="http://localhost:3000/images/kanye2.jpg"></image>
        </pattern>

        <pattern id="jay_z" x="0" y="0" height="40" width="40">
          <image x="-40" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/jay_z2.jpg"></image>
        </pattern>
                <pattern id="lil_jon" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/lil_jon2.jpg"></image>
        </pattern>

        <pattern id="eminem" x="0" y="0" height="40" width="40">
          <image x="-30" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/eminem2.jpg"></image>
        </pattern>
        <pattern id="missy_elliott" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/missy_elliott2.jpg"></image>
        </pattern>

        <!--  -->

        <pattern id="fifty_cent" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/fifty_cent2.jpg"></image>
        </pattern>

        <pattern id="aesop_rock" x="0" y="0" height="40" width="40">
          <image x="-23" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/aesop_rock2.jpg"></image>
        </pattern>
                <pattern id="beastie_boys" x="0" y="0" height="40" width="40">
          <image x="-25" y="-30" width="170" height="170" xlink:href="http://localhost:3000/images/beastie_boys2.jpg"></image>
        </pattern>

        <pattern id="biggie" x="0" y="0" height="40" width="40">
          <image x="-40" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/biggie2.jpg"></image>
        </pattern>
                <pattern id="busta_rhymes" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/busta_rhymes2.jpg"></image>
        </pattern>

        <pattern id="common" x="0" y="0" height="40" width="40">
          <image x="-30" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/common2.jpg"></image>
        </pattern>
        <pattern id="dead_prez" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/dead_prez2.jpg"></image>
        </pattern>

        <!--  -->

        <pattern id="jurassic_5" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/jurassic_52.jpg"></image>
        </pattern>

        <pattern id="lil_wayne" x="0" y="0" height="40" width="40">
          <image x="-23" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/lil_wayne2.jpg"></image>
        </pattern>
                <pattern id="ll_cool_j" x="0" y="0" height="40" width="40">
          <image x="-25" y="-30" width="170" height="170" xlink:href="http://localhost:3000/images/ll_cool_j2.jpg"></image>
        </pattern>

        <pattern id="nwa" x="0" y="0" height="40" width="40">
          <image x="-40" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/nwa2.jpg"></image>
        </pattern>
                <pattern id="ludacris" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/ludacris2.jpg"></image>
        </pattern>

        <pattern id="run_dmc" x="0" y="0" height="40" width="40">
          <image x="-30" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/run_dmc2.jpg"></image>
        </pattern>
        <pattern id="salt_n_pepa" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/salt_n_pepa2.jpg"></image>
        </pattern>

        <!--  -->

        <pattern id="slick_rick" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/slick_rick2.jpg"></image>
        </pattern>

        <pattern id="snoop_dogg" x="0" y="0" height="40" width="40">
          <image x="-23" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/snoop_dogg2.jpg"></image>
        </pattern>
        <pattern id="talib_kweli" x="0" y="0" height="40" width="40">
          <image x="-25" y="-30" width="170" height="170" xlink:href="http://localhost:3000/images/talib_kweli2.jpg"></image>
        </pattern>

        <pattern id="the_streets" x="0" y="0" height="40" width="40">
          <image x="-40" y="-20" width="120" height="120" xlink:href="http://localhost:3000/images/the_streets2.jpg"></image>
        </pattern>

        <pattern id="tupac" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/tupac2.jpg"></image>
        </pattern>

        <pattern id="diddy" x="0" y="0" height="40" width="40">
          <image x="-15" y="-20" width="125" height="125" xlink:href="http://localhost:3000/images/diddy2.jpg"></image>
        </pattern>



  </defs>

<div id="allCharts"></div>
</body>